/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE CSS MENU SINISTRA */
#menusx{
  /* regole flex */
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  /* regole flex */
  min-height: 1000px;
  background-color: #000000;
}

#logo{
  width: 70%;
}

#imgmenu{
  width: 40px;

}

a{
  display: block;
  margin-left: 15px;
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* REGOLE CSS MENU SINISTRA */

/* REGOLE CSS BARRA UPGRADE */
#upgrade{
  /* regole flex */
  display: flex;
  justify-content: flex-end;
  /* regole flex */
  height: 100px;
  background-color: #080b12;
}

#premium{
  padding: 5%;
  height: 100%;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 40px;color: white;
  font-weight: bold;
  margin-right: 5%;
}
/* REGOLE CSS BARRA UPGRADE */

/* REGOLE CSS CORPO CENTRALE */
#main{
  min-height: 700px;
  background-color: 	#141922;
}

.navigazione a, li{
  display: inline-block;
  text-decoration: none;
  color: grey;
  font-weight: bold;
  text-align: center;
}

.navigazione{
  text-align: center;
  padding: 10px;
}

.instestazioni{
  margin-left: 50px
}

h1{
  color: white;
  margin-top: 20px;
}


h3{
  color: white;
  padding: 2px;
}

h4{
  color: grey;
  padding: 2px;
}


.recenti{
  display: flex;
  padding: 50px;
  text-align: center;
}

.album{
  height: 150px;
  width: 150px;
  margin: 5px;
}

.perte{
  display: flex;
  padding: 50px;
  text-align: center;
}

.popolari{
  display: flex;
  padding: 50px;
  text-align: center;
}

#cover{
  width: 100%;
}

#artisti{
  width: 100%;
  border-radius: 50%;
}

#player{
  height: 100px;
  background-color: #282828;;
  position: fixed;
  bottom: 0;
}
